.times-header {
    background: rgb(30,30,30);
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 4px;
    width: 300px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.times {
    background: rgb(30,30,30);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 0.5rem;
    border-radius: 3px;
    width: 300px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.graph-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding-top: 1rem;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.chart-spacing {
    padding-top: 1rem;
    padding-bottom: 2rem;
}
