.titlebg {
    margin: 0;
    overflow: hidden;
    background-image: url(./LandingPageImage.png);
    background-size: cover;
    width: 100vw;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid;
    border-color: black;
    border-top-width: 3px;
}

.titlecard {
    background-color: #333;
    text-align: center;
    min-width: 0px;
    font-size: 24px;
    color: white; 
    margin-bottom: 200px;
    padding: 0.9rem 1rem;
    border-radius: 3px;
    border: solid;
    border-width: 2px;
    box-shadow: 0px 1px 2px rgb(20,20,20);
}

.landing-button {
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(70, 105, 140);
    margin-top: 0.5rem;
    border-radius: 4px;
    transition: ease 0.2s;
}

.landing-button:hover {
    background-color: rgb(170, 230, 255);
    transition: ease 0.3s;
    cursor: pointer;
}

.card-line {
    font-size: 18px;
    margin-top: 1.6rem;
    transition: ease 0.6s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card-line:hover {
    cursor: pointer;
    background-color: rgb(200, 200, 200);
    color: black;
    transition: ease 0.6s;
    border-radius: 4px;
}

.card-body {
    justify-content: center;
    align-items: center;
    width: 360px;
    background-color: #333;
    margin-left: -18px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: solid;
    border-top: none;
    border-width: 2px;
    padding-bottom: 1.2rem;
    padding-top: 1px;
}

.hidden:hover {
    cursor: default;
    font-size: 18px;
    margin-top: 1.6rem;
    transition: ease 0.6s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}